#gridContainer {
    border: 1px solid black;
    display: flex;
    
    width: 800px;
    height: 800px;
    margin: auto;
    background-color: white;
}
h1 {
    display: flex;
    justify-content: center;
}
#game {
    background-color: rgb(224, 22, 22);
    width: 1000px;
    height: 1000px;
    margin: auto;
    display: flex;
}
